<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--Main-->
     <article class="container">
        <section class="Main">
            <h1>Welcome to Galway Golf Club</h1>
            <p><strong><mark>Join Today</mark></strong></p>
        </section>
    <!--/.Main-->
    <!--About-->
    <section class="About">
        <h2>Golf</h2>
    <div class="about">
        <p>Set on the banks of Lough Corrib, the scenic Glenlo Abbey Golf Course is situated only 2.5 miles from the vibrant city of Galway. Designed by Ryder Cup legend Christy O’Connor Jr, the course has been recognised as one of the best 9 Hole Golf Courses in the Republic of Ireland.</p>
    </div>
    </section>
    <!--/.About-->
    <!--Golf Course-->
    <section class="Golf Course">
    <h2>Golf Course</h2>
    <div class="9 hole">
        <p>The course offers a unique and challenging experience to golfers of all levels, including a signature 4th hole on an island green. Located on the grounds of the 5-star Glenlo Abbey Hotel & Estate, the course welcomes visitors from around the world.
        </p>
    </div>

    </section>
    <!--/.Golf Course-->
    <!--Driving Range-->
    <section class="Range">
        <h2>Driving Range</h2>
        <div class="9 hole">
            <p>Glenlo Abbey Driving Range has had a major refurbishment and is now extended to 21 Bays – the largest in the West of Ireland. It is the ideal place to get some pre-round practice before playing our 9 hole golf course.
            </p>
        </div>
    
    </section>
    <!--/.Driving Range-->
    <!--Rory Woods-->
    <section class="Tuition">
        <h2>Rory Woods Golf Coach</h2>
        <div class="coach">
            <p>Glenlo Abbey Driving Range has had a major refurbishment and is now extended to 21 Bays – the largest in the West of Ireland. It is the ideal place to get some pre-round practice before playing our 9 hole golf course.
            </p>
        </div>
    
    </section>
    <!--/.Rory Woods-->
    
    



    </article>
    
</body>
</html>